<div class="diy-recipes-container">
	<h1>DIY BEAUTY RECIPES</h1>
	<div class="row">
	<%@diy_recipes.each_with_index do |recipe, index| %>
		<a href='/recipes/<%=recipe.slug %>'>
			<div class="indiv-recipe  col-xs-6 col-sm-4">
				<%=image_tag(recipe.image) %>
				<h3><%= recipe.title %></h3>
			</div>
		</a>
		
        <% if (index + 1) % 3 == 0 %>
            </div>
            <div class='row'>
        <% end %>
	<% end %>
    </div>






</div>


