<div class="diy-recipes-container">
	<h1>Skin Food Recipes</h1>
	<p class="skin-food-blurb">
		Great skin starts in the kitchen. As does great hair, for that matter. We are firm 

believers that if it’s good enough to go in your smoothie, it’s sure as hell good 

enough to slather all over your face.  Both your skin and hair benefit from the 

nutritional goodness of your everyday nuts, seeds, oils, fruit and veggies as much 

as your tummy does and it’s super easy to throw together a vitamin-packed face 

mask in no time. We’ve been total babes and done all the hard work for you. Here 

you’ll find a compilation of our very best (tried and tested) recipes made using 

just your kitchen essentials.
	</p>
	<%@skin_food_recipes.each do |recipe| %>
		<a href='/recipes/<%=recipe.id %>'>
			<div class="indiv-recipe  col-xs-6 col-sm-4">
				<%=image_tag(recipe.image) %>
				<h3><%= recipe.title %></h3>
			</div>
		</a>
		
	<% end%>
</div>
