<div class="blog-container">
  <div class="blog-entries-header">
    <h1>Clean Beauty Co Blog</h1>
  </div>
  <div class="feature_blog_entry_container col-sm-9"> 
    <div class="featured-blog-entry-container">
      <div class="feature-blog-image blog-entry-image">
        <%= image_tag(@featured_blog_entry.image)%>
      </div>
      <h1><%= @featured_blog_entry.title %></h1>
    </div>
  </div>
  <div class="blog-sidemenu col-sm-3"> 
  </div>
</div>