<div class="blog-container">
  <div class="blog-entries-header">
    <h1>Clean Beauty Co Blog</h1>
  </div>
  <div class="blog-entry-container col-sm-8"> 
    <% @blog_entries.each do |entry| %>
      <div class="featured-blog-entry-container">
        <div class="feature-blog-image blog-entry-image">
          <%= image_tag(entry.image)%>
        </div>
        <h5 class="blog-placeholder">Placeholder</h5>
        <h3 class="blog-title"><%= entry.title %></h3>
        <p class="introduction-blog-text"> <%= entry.introduction_text %></p>
        <button class="blog-read-more"> <%= link_to "READ MORE", blog_entry_path(entry)%> </button>
      </div>
    <% end %>
  </div>
  <div class="blog-sidemenu col-sm-3"> 
  </div>
</div>