<div class="events-container">
	<h1 class="events-title"> EVENTS </h1>
	<div class="first-column">
		<div class="col-xs-12 col-sm-8">
	      <h3 class="workshops-title"> Workshops </h3>
		  <h4 class="workshops-date"> New for 2016. </h4>
	    </div>
	    <div class="col-xs-12 col-sm-4 events-link">
	      <%= link_to('View and Book >', "#") %>
	    </div>
	    <% @events.each do |event| %>
	    	<div class="event-show-container">
	    		<div class="col-xs-12 col-sm-4 event-image">
	    			<%= image_tag(event.image) %>	
	    		</div>	
	    		<div class="col-xs-12 col-sm-8 event-description">
	    			<%= simple_format(event.description) %>	
	    		</div>	
	    	</div>
	   	<% end %>
	</div>
	<div class="second-column">
		<div class="col-xs-12 col-sm-8">
	      <h3 class="workshops-title"> Events </h3>
		  <h4 class="workshops-date"> Markets, fares and more... </h4>
	    </div>
	    <div class="col-xs-12 col-sm-4 events-link">
	    </div>
    	<div class="event-show-container">
    		<div class="col-xs-12 col-sm-4 event-image">
    			<%= image_tag('http://i.imgur.com/Vt81Ck6.png') %>		
    		</div>	
    		<div class="col-xs-12 col-sm-8 event-description">
    			<p>We love getting out and about and meeting as many of you as possible, so can often be found exhibiting at markets, running workshops at fares and generally mingling in the green beauty community.</p>
    			<p>Check back here for regular updates on where we'll be next..</p>
    		</div>	
    	</div>	
	</div>
</div>	
