<div class="opening-line-test">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla facere alias, velit tenetur quam quisquam! Debitis ex adipisci quos excepturi iure fugit, porro, provident quidem nemo dolore iste suscipit!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur, suscipit. Reprehenderit voluptas assumenda atque, laboriosam, corporis, maiores pariatur fugiat natus eligendi veniam reiciendis unde odit laborum nesciunt excepturi? Saepe.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quibusdam iure, qui quisquam consequatur eos, non inventore magni nam dicta necessitatibus nemo eveniet corporis hic illum labore recusandae aspernatur eligendi!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus totam eum veritatis quasi nihil facilis adipisci voluptas voluptatem, sapiente sequi iusto soluta, nemo a vitae minus animi, illo vel aliquid.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates esse sed vero sit nobis non quibusdam odit aspernatur iste dicta ad adipisci consequuntur, aliquam placeat cumque ullam, deserunt, in autem?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate at quas perferendis neque iusto nulla, ab nihil. Rem laudantium provident harum incidunt, iste amet excepturi possimus quos id molestias, dolorum.
</div>
