<div class="about-us-wrapper">
  <div class="about-intro-container">
    <div class="about-us-section">
      <h1 class="about-us-header" >WELCOME TO CLEAN BEAUTY CO</h1>
      <div class="about-us-content-container">
        <p class="about-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum recusandae itaque magni, nulla unde consectetur eaque labore. Dicta, molestias praesentium libero delectus. Provident dolorem dolor accusamus dolores, error quasi repellat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aliquid quod aperiam autem at veritatis repudiandae ipsam laudantium id porro distinctio a, corporis vero dolor expedita. Voluptatem quis, ipsam nulla.
        </p>
      </div>
    </div>
    <div class="about-image about-right">
      <%=image_tag('recipe-example.jpg') %> 
    </div>
  </div>
  <div class="about-who-we-are-container">
    <div class="about-image about-left">
      <%=image_tag('recipe-example.jpg') %> 
    </div>
    <div class="about-us-section">
      <h1 class="about-us-header">WHO ARE WE?</h1>
      <div class="about-us-content-container">
        <p class="about-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla asperiores sit ullam, nemo sunt cum cupiditate, repellat dolorum error deserunt illum reprehenderit odit repudiandae, alias natus velit quis id. Quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi optio voluptas qui esse earum quia maxime saepe aliquam, dicta molestiae, quas, at, officia provident est ex totam! Velit, tempore, accusantium.
        </p>
      </div>
    </div>

  </div>

  <div class="about-why-we-do-container">
    <div class="about-us-section">
      <h1 class="about-us-header">WHY DO WE MAKE PRODUCTS?</h1>
      <div class="about-us-content-container">

      <p class="about-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, saepe, sint. Dolorum beatae accusamus quidem voluptates consequatur. Placeat, molestias, eum! Debitis cumque laboriosam dignissimos, soluta repellat. Illum soluta accusamus optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet distinctio, odio dignissimos qui quasi asperiores cupiditate mollitia officia autem, accusantium vel deleniti minima ad maiores possimus nobis. Fugit necessitatibus, deleniti?
      </p>

      </div>
    </div>
    <div class="about-image about-right">
      <%=image_tag('recipe-example.jpg') %> 
    </div>
  </div>

</div>
