<div class="about-intro-container">
  <h1>WELCOME TO CLEAN BEAUTY CO</h1>
  <p class="about-content about-left">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum recusandae itaque magni, nulla unde consectetur eaque labore. Dicta, molestias praesentium libero delectus. Provident dolorem dolor accusamus dolores, error quasi repellat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aliquid quod aperiam autem at veritatis repudiandae ipsam laudantium id porro distinctio a, corporis vero dolor expedita. Voluptatem quis, ipsam nulla.
  </p>
  <div class="about-image about-right">
    
  </div>
</div>
<div class="about-who-we-are-container">
  <h1>WHO ARE WE?</h1>
  <p class="about-content about-right"></p>
  <div class="about-image about-left">
  </div>
</div>
<div class="about-why-we-do-container">
  <h1>WHY DO WE MAKE PRODUCTS?</h1>
  <p class="about-content about-left"></p>
  <div class="about-image about-right">
  </div>
</div>
