<div class="about-us-wrapper">

  <div class="about-intro-container">
    <h1 class="about-us-header" >WELCOME TO CLEAN BEAUTY CO</h1>
    <div class="about-images">
      <%= image_tag('new_about-us-who-we-are-2.png') %>
    </div>
    <p class="about-content about-content-first">
      We are building a modern beauty brand that makes natural and nontoxic beauty accessible. We believe that everyone can be empowered to take control of what they put on their skin.
    </p>
  </div>

  <div class="about-who-we-are-container">
    <h1 class="about-us-header second-about">Who are we?</h1>
      <p class="about-content about-content-second">
        We are Elsie and Dominika, founders and clean beauty lovers. When we went from reading food labels to reading our beauty product labels, we were pretty disappointed and occasionally horrified. We decided to make a change.
      </p>
  </div>

  <div class="about-why-we-do-container">
    <h1 class="about-us-header">Why do we make products?</h1>
    <p class="about-content">
    We love beauty products but we also love our skin, our health and wellbeing. Going clean means that we know what we're putting on our bodies, as well as in. We're not wasting our money on cheap alternatives; we're actually nourishing our skin and hair with high quantities of our favourite plants, nuts, flowers and seeds - all the anti-ageing, super-moisturising, ultra-nourishing goodness that hasn’t been diluted with pointless fillers and chemicals. 
    </p>
  </div>

  <div class="about-disclaimer-container">
    <h1 class="about-us-header">CBCo disclaimer</h1>
    <p class="about-content">
    Nothing in this blog is intended for the treatment or prevention of disease, nor as a substitute for medical treatment, nor as an alternative to medical advice. Use of recommendations is at the choice and risk of the reader. We are not doctors, scientists or cosmetic chemists. We are simply sharing our experiences.
    </p>
  </div>


</div>
