<div class="press-container">
	<div class="press-header">
		<h2>Press & Writing</h2>
	</div>
	<div class="press-content">
		<p>Here is a collection of our press and writing pieces. Get in touch if you would like us to write for your publication on all things clean beauty!</p>
	</div>
	<div class="addthis_sharing_toolbox press-social-buttons"></div>
</div>