<div class="press-container">
	<div class="press-header">
		<h2>PRESS</h2>
	</div>
	<div class="press-content">
		<p>For all PR enquiries, please contact <a href="mailto:laura@cuckoo-pr.com"> Laura at Cuckoo PR</a></p>
	</div>

	<div class="col-xs-0 col-sm-3"></div>
	<div class="press-entries-container col-md-6">
		<% @press_entries.each do |entry| %>
			<div class="indiv_press_entry col-xs-6 col-sm-4">
				<%=link_to(image_tag(entry.image), entry.link) %>
				<h5><%= entry.name%></h5>
			</div>
		<% end %>
	</div>
	<div class="col-xs-0 col-sm-3"></div>	
</div>
<div class="press-social-buttons-container">
	<div class="addthis_sharing_toolbox press-social-buttons"></div>
</div>
