// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-intro-container{
  margin-top:10%;
}

.about-us-header{
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3%;
  text-align: center;
  padding-top: 50px;
}
.about-us-section{
  width: 45%;
  margin: 0 auto;
}

.about-intro-container, .about-who-we-are-container, .about-why-we-do-container{
  min-height: 396px;
}



.about-content{
  font-family: Helvetica Neue;
  font-weight: 200;
  font-size: 21px;
  line-height: 120%;
  width: 80%;
  text-align: justify;
  margin: 0 auto;
}

.about-intro-container, .about-why-we-do-container{
  background: #F6CED8; 
}

.about-left{
  float: left;
  left: 0;
  bottom: -490px;
}

.about-intro-container{
  margin-top: 5.5%;
}

.about-intro-container .about-us-header{
  padding-top: 12%;
}

.about-right{
  float: right;
  right: 0;
  bottom: -57px;
}

.about-image{
  position: absolute;
  width: 23%;
}

.about-image img{
  width: 100%;
}

.about-image-container{
  position:relative;
}

.about-why-we-do-container{
  margin-bottom:11%;
}