// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-intro-container{
  margin-top:10%;
}

.about-us-header{
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3%;
}
.about-us-section{
  width: 45%;
  margin: 0 auto;
  margin-top: 10%;
}

.about-content{
  font-family: Helvetica Neue;
  font-weight: 200;
  font-size: 21px;
  line-height: 120%;
  width: 80%;
}

.about-left{
  float: left;
  left: 0;
  bottom: 83px;
}

.about-right{
  float: right;
  right: 0;
  bottom: 83px;
}

.about-image{
  position: absolute;
  width: 23%;
}

.about-image img{
  width: 100%;
}