// Place all the styles related to the blog_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container{
  margin-top: 100px;
}

.blog-entry-container{
  margin-bottom: 100px;
  margin-left: 5%;
  // background:white;
  padding: 64px;
}

.featured-blog-entry-container{
  background:white;
  margin-top: 67px;
  padding: 39px;
  text-align: center;
}

.blog-sidemenu{
  height:1000px;
  background:grey;
  margin-top: 131px;
  // border: 1px solid pink;
}

.blog-entries-header h1{
  text-align: center;
  font-size: 55px;
}

.blog-entries-header{
  margin-top: 142px;
}

.blog-entry-image{
  text-align:center;
}

.blog-placeholder, .blog-title{
  text-align: center;

}
.introduction-blog-text{
  font-size: 15px;
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
  line-height: 127%;
}

h5.blog-placeholder{
  margin-top: 21px;
  color: #C29BC2;
}
.introduction-blog-text{
  margin-top: 20px;
  text-align: left!important;
}

.blog-title{
  font-size: 36px;
}
.feature-blog-image {
  width: 100%;
}
.feature-blog-image img{
  max-width: 100%;
}
.blog-read-more{
  width: 151px;
  height: 40px;
  background: transparent;
  margin-top: 19px;
  border: 2px solid #C29BC2;
  color: #C29BC2;
}

.blog-read-more a{
  color: #C29BC2;
}

.blog-read-more:hover{
  background: #FFF2FF;
}

#previous-blog-posts{
  float:right;
  background: white!important;
}
#newer-blog-posts{
  float:left;
  background: white!important;
}

.featured-blog-entry-container:nth-child(n+7){
  display:none;
}
.preview-image-container img{
  height: 175px;

}

.preview-blog-post-container{

}

.blog-preview-image{
  overflow:hidden;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.preview-image-container{
  background: white;
  text-align: center;
  padding: 11%;
  overflow:hidden;
  height: 334px;
  margin-bottom: 30px;
}
.all-preview-posts-container{
  margin-left:4%;
}

.blog-preview-header h3{
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 16px;
  width: 159px;
}

.blog-preview-header p{
  position: absolute;
  top: 57%;
  left: 20%;
  font-family: 'Futura', sans-serif;
  color: #C29BC2;
}