// Place all the styles related to the blog_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container{
  margin-top: 100px;
}

.blog-entry-container{
  margin-bottom: 17px;
  margin-left: 5%;
  // background:white;
  padding: 64px;
}

.featured-blog-entry-container{
  background:white;
  padding: 39px;
  text-align: center;
}

.blog-sidemenu{
  margin-top: 64px;
  background: white;
  // border: 1px solid pink;
}

.blog-entries-header h1{
  text-align: center;
  font-size: 50px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 80%;
  margin: 0 auto;
  letter-spacing: 1px;

}

.blog-entries-header{
  margin-top: 142px;
}

.at4-icon{
  background-color: #f8e3f2!important;
}

.blog-entry-image{
  text-align:center;
}

.blog-placeholder, .blog-title{
  text-align: center;

}
.introduction-blog-text{
  font-size: 15px;
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
  line-height: 127%;
}

h5.blog-placeholder{
  margin-top: 21px;
  color: #f8e3f2;
}
.introduction-blog-text{
  margin-top: 20px;
  text-align: left!important;
}

.blog-title{
  font-size: 36px;
}
.feature-blog-image {
  width: 100%;
}
.feature-blog-image img{
  max-width: 100%;
}
.blog-read-more{
  width: 151px;
  height: 40px;
  background: transparent;
  margin-top: 19px;
  border: 2px solid #f8e3f2;
  color: #f8e3f2;
}

.blog-read-more a{
  color: #f8e3f2;
  font-weight: 200;
}
.blog-preview-header h3{
  font-weight:200;
}
.sidebar-social-button-image a img{
  background: #f8e3f2;
}
.sidebar-social-button-image{
  margin-top: 21px;
}

.blog-read-more:hover{
  background: white;
}

#previous-blog-posts{
  float:right;
  background: white!important;
}
#newer-blog-posts{
  float:left;
  background: white!important;
}

.featured-blog-entry-container:nth-child(n+7){
  display:none;
}

// .preview-blog-post-container:nth-child(-n+6){
//   display:none;
// }

// .preview-blog-post-container:nth-child(n+13){
//   display:none;
// }

.preview-image-container img{
  height: 244px;

}

.addthis_sharing_toolbox{
  margin-top: 20px;
}

.preview-blog-post-container{

}

.blog-preview-image{
  overflow:hidden;
  height: 80%;
  width: 100%;
  margin: 0 auto;
}

.preview-image-container{
  background: white;
  text-align: center;
  overflow:hidden;
  height: 316px;
  margin-bottom: 30px;
}
.all-preview-posts-container{
  width: 103.6%;
  margin-left: -1.8%;
  margin-top: 13%;
}

.blog-preview-header h3{
  position: absolute;
  top: 67%;
  left: 7%;
  font-size: 15px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}

.blog-preview-header p{
  position: absolute;
  top: 57%;
  left: 20%;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: #f8e3f2;
}

.about-us-sidebar-image img{
  width: 100%;
}

.about-us-sidemenu-container h4, .sidemenu-social-container h4, .facebook-sidebar-container h4, .sidebar-latest-posts-container h4, .instagram-sidebar-container h4{
  text-align: center;
  margin-bottom: 14%;
  border-bottom: 1px solid #BBB7B7;
  line-height:0.1em; 
  margin:10px 0 20px;
  margin-top: 37px;
  margin-bottom: 37px;
}

.instagram-sidebar-container{
  padding-top: 20px;
}

.about-us-sidebar-text p {
  font-size: 14px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  margin-top: 8%;
  letter-spacing: 1px;
  line-height: 154%;
  margin-bottom: 30%;
}

.about-us-sidemenu-container h4 span, .sidemenu-social-container h4 span, .facebook-sidebar-container h4 span, .sidebar-latest-posts-container h4 span, .instagram-sidebar-container h4 span{
  background: white!important;
  padding:0 10px;
}
.sidebar-social-button-image{
  display: inline-block;
}
.sidebar-social-buttons div img{
  width: 36px;
  border-radius: 8px;
}

.fb-page{
  margin-left: -2%;
}

.facebook-sidebar-container{
  height: 400px;

}
.at-icon-wrapper{
  background-color: #f8e3f2!important;
}

.sidemenu-social-container{
  margin-bottom: 46%;
  margin-top: -32%;
}

.sidebar-blog-entry img{
  width: 36%;
  float:left;
}

.sidebar-blog-entry h5{
  margin-left: 45%;
  margin-bottom: 8%;
}

.sidebar-blog-entry p{
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-style: italic;
  font-size: 11px;
  margin-left: 45%;
  margin-bottom: 31%;
}

.featured-blog-entry-container p{
  text-align: left;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 1px;

}

@media(max-width: 900px){
  .blog-preview-header h3{
    top: 58%;
  }
  .preview-blog-post-container{
    z-index: 1000000;
  }
  .sidebar-social-buttons div img{
    width: 50px;
  }
  .sidebar-social-button-image{
    margin-top: 53px;
    margin-bottom: 70px;
  }
  .fb_iframe_widget{
    margin-left: 22%;
  }
  .facebook-sidebar-container{
    margin-bottom:192px;
  }
  .preview-image-container img{
    width: 90%;
    height: auto;
  }
  .preview-blog-post-container{
    height: 221px;
    margin-bottom: 54px;
  }
  .blog-entries-header h1{
    font-size: 30px;
  }
  .preview-image-container{
    height:180px;
    margin-bottom:30px;
  }
  .blog-entry-container{
    padding-top:0;
  }
}