// Place all the styles related to the blog_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container{
  margin-top: 100px;
}

.blog-entry-container{
  margin-bottom: 100px;
  margin-left: 5%;
  // background:white;
  padding: 64px;
}

.featured-blog-entry-container{
  background:white;
  margin-top: 67px;
  padding: 39px;
  text-align: center;
}

.blog-sidemenu{
  height:1000px;
  background:grey;
  margin-top: 131px;
  // border: 1px solid pink;
}

.blog-entries-header h1{
  text-align: center;
  font-size: 55px;
}

.blog-entries-header{
  margin-top: 142px;
}

.blog-entry-image{
  text-align:center;
}

.blog-placeholder, .blog-title{
  text-align: center;

}
.introduction-blog-text{
  font-size: 15px;
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
  line-height: 127%;
}

h5.blog-placeholder{
  margin-top: 21px;
  color: #C29BC2;
}
.introduction-blog-text{
  margin-top: 20px;
  text-align: left!important;
}

.blog-title{
  font-size: 36px;
}
.feature-blog-image {
  width: 100%;
}
.feature-blog-image img{
  max-width: 100%;
}
.blog-read-more{
  width: 151px;
  height: 40px;
  background: transparent;
  margin-top: 19px;
  border: 2px solid #C29BC2;
  color: #C29BC2;
}

.blog-read-more a{
  color: #C29BC2;
}

.blog-read-more:hover{
  background: #FFF2FF;
}

#more-blog-posts{
  float:right;
  background: white!important;
}

.featured-blog-entry-container:nth-child(n+7){
  display:none;
}