// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
abbr{
	display:none;
}

#new_contact{
	margin-top: 64px!important;
	margin-bottom: 118px!important;
}
#new_contact input{
	height: 40px!important;
    width: 655px!important;
    margin-bottom: 16px;

}
#contact_message{
	width: 655px!important;
}

.form-actions input{
	background: #f8e3f2;
    border: none;
    font-family: "Helvetica Neue"!important;
}
.contact-intro{
	font-family:  "Helvetica Neue";
	font-size: 21px;
	margin-bottom: 50px;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.field_with_errors{
  background-color:white!important;
}
span.error{
  color:red;
}