.events-container{
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}

.events-title, .first-column h4, .first-column h3, first-column p, .second-column h4, .second-column h3, second-column p, .second-column{
	font-family: Helvetica Neue;
	font-weight: 100;
}

.second-column{
	clear:both;
	padding-top: 34px;
}

.events-title{
	text-align: center;
	margin-bottom: 50px;
}

.event-image{
	margin-bottom: 100px;
}

.events-link a{
	font-size: 18px;
}

.events-link{
	margin-top:25px;
	text-align: right;
}

.event-image{
	clear:both;
}

.event-image img{
	width: 100%;
}
.event-description p, .event-description a, .event-description ol, .event-description ul, .event-description li, .event-description h1, .event-description h2, .event-description h3, .event-description h4, .event-description h5{
	font-family: Helvetica Neue;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 120%;
    text-align:justify;

}

.workshops-title{
	font-size: 30px;
}

.workshops-date{
	font-size: 18px;
	margin-bottom: 20px;
}


@media(max-width: 900px){
	.workshops-title, .workshops-date{
		text-align:center;
	}
	.events-link{
		text-align: center;
	}

}