// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar{
  width:100%;
  margin-bottom: 0!important;
}

.main-header-image{
  height: 900px;
  // margin-top:100px;

}

.form-homepage input.email{
  width: 210% !important;
}

.social-container a:visited{
  color:black;
  
}

.form-homepage{
  margin-left:0!important;
}

.comment-content-user{
  font-weight: 100!important;
  font-family: Helvetica neue!important, Helvetica;

}

.comment-content-show{
  font-weight: 200!important;
  font-family: Helvetica neue!important, Helvetica;
}

.post-comment{
  width: 98px;
  height: 38px;
  font-size: 20px;

}
.comments-container p, .comments-container h5, .comments-container h2{
  font-weight: 100;
}

#blog_ccomment_content{
  border: 1px solid #EAE6E6;
  width: 328px;
  outline-color: grey !important;
}

.all-comments{
  min-height: 200px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

#blog_ccomment_user{
  outline-color: grey !important;
}
.new_blog_ccomment .simple_captcha_label{
   margin-bottom: 22px;
   margin-top: -10px;
}
.new_blog_ccomment label{
  font-weight: 100;
  display:block;
}

.new-comment-title{
  margin-bottom: 28px;
}

.all-comments-header{
  margin-bottom:15px;
}
.post-comment{
  background: white;
  border: 2px solid black!important;
  font-weight: 200;
}
.comments-container input{
  margin-bottom: 20px;
  border: 1px solid #EAE6E6;
  outline-color: grey !important;
}

.comments-container{
  clear:both;
  margin-left:5%;
}

.copyright{
  clear: both;
  text-align: center;
  font-family: Helvetica Neue, Helvetica;
  font-weight: 200;
  font-size: 15px;
  padding-top:30px;
}
.social-container a:nth-of-type(1){
  margin-left: 8%;
}

.fa{
  font-size:37px!important;
  width: 20%!important;
}

.contact-thanks{
  margin-top: 100px;
  text-align: center;
  font-family: Helvetica Neue, Helvetica;
  font-weight: 100;
}

.contact-second{
  margin-top: 36px;
  text-align: center;
  font-family: Helvetica Neue, Helvetica;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 188px;
}

.footer-container{
  margin: 0 auto;
  width: 90%;
}

.main-header-image img{
  width: 100%!important;
}

a:hover{
  cursor: default;
}

.info-container{
  border: 1px solid black;
  padding: 91px;
  background: white;
  margin: 0 auto;
}

.inside-info-container{
  width: 80%;
  margin: 0 auto;
}

.feature-header, .info-entry p{
  font-family: Helvetica Neue, Helvetica;
  font-size: 21px;
}

.info-entry{
  display:inline-block;
  width: 30%;
  text-align:center;
  vertical-align: top;
}

.diamond{
  width: 2%;
  display:inline-block;
}

.diamond img{
  width: 100%;
}

.feature-header{
  width: 100%;
}
.feature-header-container hr{
    width: 24%;
    color: black;
    background: grey;
    height: 2px;
    border: none;
}

.info-container-wrapper{
  width: 100%;
  background:white;
  padding:29px;
}


.strawb-cursor{
  cursor:url(image_path('strawb-cursor2.png')), auto!important!important;
}

.star-cursor{
  cursor:url(image_path('star-cursor2.png')), auto!important;
}
.cloud-cursor{
  cursor:url(image_path('cloud-cursor2.png')), auto!important;
}

.mushroom-cursor{
  cursor:url(image_path('mushroom-cursor2.png')), auto!important;
}

.carrot-cursor{
  cursor:url(image_path('carrot-cursor2.png')), auto!important;
}

.apple-cursor{
  cursor:url(image_path('apple-cursor1.png')), auto!important;
}

.plumb-cursor{
  cursor:url(image_path('plumb-cursor1.png')), auto!important;
}




.parallax-mirror img{
  width:100%!important;
}

// .blog-image-container.parallax-mirror img{
//   opacity: 1!important;
// }

body{
  background: white!important;
}

.twitter a img{
  border-radius : 20px;
}

.header-logo-container img {
    position: absolute;
    width: 100%;
    top: 83px;
    margin-left: -12px;
}

.opening-line-test{
  font-size: 30px;
  line-height: 100%;
}



.homepage-about-us{
  margin:0 auto;
}

.homepage-row{
  display:none;
}
.homepage-about-us h1{
  text-align: center;
  word-spacing: 6px;
  font-family:  "Helvetica Neue", Helvetica;
}

.homepage-about-us h1{
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: white;
}
.homepage-about-us p{
  font-size: 1.5vw;
  text-align: left;
  line-height: 150%;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-top: 20px;
  color: white;
}

.header-taglines {
  position: absolute;
  top: 222px;
  width: 100%;
  text-align: center;
}
.header-taglines h1{
  font-size: 25px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  width:100%;
  text-align: center;
  /* word-spacing: 6px; */
  letter-spacing: 2px;
}

.content-test{
  height: 500px;
}

.navbar{
  height: 71px!important;
}
.cbco-manifesto{
  text-align: center;
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 54px;
  height: 235px;
}

.cbco-manifesto img{
  width: 77%;
}

.nav-header-width{
  width: 14%;
}
// .products-feature{
//   margin-left: 13%;
// }
.nav{
  width: 90%;
  float:right;
  margin-top: 9px;
}

.home-logo{
  position: absolute;
  width: 10%;
  margin-top:3px;
}


.home-logo img{
  width: 87px;
  padding-bottom: 10%;
  padding-top:5%;
}

.dropdown-menu{
  border:none;
}

.shop-dropdown{
  top: 90% !important;
  left: 5% !important;
}

.product-image{
  height: 72%;
  width: 100%;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.recipes-dropdown{
  top: 90% !important;
  left: 5% !important;
}

.homepage-content-container hr{
  width: 93px;
  background: #AFAFAF;
  color: white;
  height: 1px;
  border: none;
  margin-bottom: 41px;
}

.faves{
  text-align:center;
  font-size: 30px;
  font-family: Helvetica neue;
  padding-top: 112px;
}

.btn-primary:hover{
  color:grey!important;
}
.btn:hover{
  color:grey!important;
}
button:hover{
  color:grey!important;
}

a:hover{
  color:grey!important;
}


.product-image img{
  width: 100%;
}
.feature-images-links div h2{
  margin: 0 auto;
  font-size: 15px;
  letter-spacing: 2px;
  background: white;
  padding: 3%;
  text-align: left;
  margin-left: -3%;
  font-weight: 300;
}

.navbar-nav > li > .dropdown-menu li{
  height: 30px;
  margin-top:10px;
}
.desktop-row{
  display:block;
}

.feature-images-links div h2 a{
  color:black!important;
  color:white;
}

.feature-images-links{
  height: 428px;
  background: white;
  // border-top: 15px solid #AFAFAF;
  // border-bottom: 15px solid #AFAFAF;
}
.recipes-feature, .products-feature, .ingredients-feature, .placeholder-feature{
  height: 100%;
  display: table;
}
.nav-logo{
  width: 132px;
}

.nav-logo img{
  width: 75%;
  margin-top: -24%;
}

.navbar-default .navbar-nav > li > a {
    font-size: 19px;
    text-align:center;
}

.blog-image-container{
  height: 447px;
}
.pineapple-image{
  height: 450px;
}

.blog-image-container img{
  height: 100%;
  margin-top: 4%;
}
.blog-products-seaparator-container{
  height: 447px;
}

.placeholder-scroll{
  height: 600px;
}

.blog-header h3{
  font-size: 3vw;
  word-spacing: 6px;
}

.blog-header {
  position: absolute;
  top: 158px;
  left: 32%;
  color: white;
  border: 9px solid white;
  padding: 10px 19px 32px 20px;
}

.blog-header-container{
  position:relative;
}

  .desktop-recipe-list{
    display:block;
  }

  .mobile-recipe-list{
    display:none;
  }

.nav li{
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
  letter-spacing: 1px;
}

.nav li a{
  font-weight: 100;
  font-size: 17px;
}

.navbar{
  background:white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(191,189,191,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(191,189,191,0.5);
  box-shadow: 0px 1px 5px 0px rgba(191,189,191,0.5);
}

.blog-header h3 a{
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-weight: 100;
  letter-spacing: 5px;
}

.blog-header h3 a:hover{
  color:#ABAAAA;
  background:transparent;
}

.about-us-container{
  height:300px;
  // background: #DDDADA;
}

.social-container{
  background: white;
  margin-top:100px;
  
}

.email-container{
  height: 225px;
}

.social-image{
  margin-top: 30%;

}

.home-logo-mobile{
  display:none;
}

.social-image img{
  margin-left: 28%;
  width: 80px;
}

.contact-submit-button{
  background-color: white !important;
  color: black;
  border: 2px solid black!important;
  border-color: black!important;
  border-radius: 0px;
  
}

.snapwidget-widget{
  width: 100%!important;
}

.blog-entry-mobile-home{
  display:none;
}

  .header-taglines-second {
    display:none;
    position: absolute;
    top: 331px;
    width: 100%;
    text-align: center;
  }



 .header-taglines-second h1{
  font-size: 25px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  width:100%;
  text-align: center;
  /* word-spacing: 6px; */
  letter-spacing: 2px;
}

















@media(max-width: 900px){

  .blog-header{
position: static;
    background-color: rgba(130, 129, 129, 0.61);
    height: 50%;
    margin-top: 14%;
  }

  .blog-header h3{
    font-size: 5vw;
    left: 11%;
    margin-top: 5%;
    text-align: center;
  }

  .diamond{
    display:none;
  }



  .info-entry{
    width: 100%;
    margin-bottom: 40px;
  }
  .info-container{
    padding: 29px;
  }



















  .blog-image-container{
    display:none;
  }
  .blog-entry-mobile-home{
    display: block;
    height: 44%;
    background: url("/assets/new_blog-home-page-new-mobile-371ecedc9e97409806ad0787e5c82b3ee80e7e1263154991719de5304a91997d.jpg") no-repeat 52%;
    margin-bottom: 60px;
    width: 100%;
    margin-top:55px;
  }
  .twitter a img{
    border-radius: 12px;
  }
  .blog-entry-container{
    margin-left: 0;
  }
 
  .featured-blog-entry-container{
    padding: 0px!important;
  }
  .feature-images-links{
    height: 412px;
    margin-top: 42px;
  }

  .social-image img{
    margin-left: 0;
    width: 98%;
  }
  .blog-entries-header{
    margin-top:100px;
    margin-bottom: 31px;
  }
  .mobile-logo-container{
    text-align: center;
  }
  .blog-products-seaparator-container{
    display:none;
  }

  .header-taglines h1{
    width: 90%;
    margin: 0 auto;
    font-size: 17px;
  }
  .header-logo-container img{
    width: 130px!important;
    /* min-width: 200px; */
    top: 80px;
    margin-left: -73px;
  }



  .blog-title{
    font-size: 30px;
  }
  .main-header-image{
    height: 495px;
  }

  .navbar-default .navbar-nav > li > a{
    padding: 11px;
    font-size: 17px;
    text-align: center !important;
  }


  .diy-recipes-container h1{
    margin-bottom: 65px!important;
    font-size: 30px!important;
  }
  .diy-recipes-container{
    margin-top:104px!important;
  }
  .social-container{
    clear:both;
    margin-top: 0px;
    height: 29px;
  }
  .home-logo-mobile{
    display: block;
    position: fixed;
    top: 3px;
    z-index: 1000000000;
  }

  .home-logo{
    display:none;
  }

  .home-logo-mobile a img{
    width: 85px;
    position: absolute;
  }
  .navbar-toggle{
    margin-top:19px!important;
  }
  .navbar-fixed-top, .navbar-fixed-bottom{
    z-index: 100000000;
  }
  .indiv_press_entry{
    min-height: 206px;
  }
  .inst-scroll{
    display:none;
  }
  .recipes-feature, .products-feature, .ingredients-feature, .placeholder-feature{
    height: auto;
  }
  .product-image{
    height: auto;
  }
  .header-taglines{
    top: 159px;
    margin: 0 auto;
  }
  .cbco-manifesto{
    height: auto;
    margin: 19px;
  }
  .cbco-manifesto img{
    width: 100%;
  }
  .pineapple-image{
    height: 306px;
  }
  .comment-content-user{
    text-align:center;
  }

  .parallax-mirror img{
    width:auto!important;
  }


}

@media(max-width: 768px){
  .navbar-collapse .nav{
    background:white;
    border-left: 1px dotted #F1E8E8;
    border-bottom: 1px dotted #F1E8E8;
  }

  .recipe-row{
    display:none;
  }

  .comment-content-show{
    text-align:center;
  }

  .comments-container{
    margin-left:0;
  }
  .comments-container h2, .new-comment-title, .new_blog_ccomment, .new-comment-title, .all-comments-header, .comments-container h5{
    text-align:center;
  }

  .navbar-default .navbar-nav > li > a{
    text-align: left !important;
    padding: 20px;
    font-size: 19px;
  }

  .homepage-row{
    display:block;
  }

  .desktop-recipe-list{
    display:none;
  }

  .mobile-recipe-list{
    display:block;
  }



  .nav-header-width{
    width: 90%;
  }
  .sidebar-social-buttons div img {
    width: 55%;
  } 
}




@media screen and (min-width: 768px) and  (max-width: 900px) {
  .email-container {
    height: 225px;
    margin-top: -100px;
  }
}

@media(min-width: 1578px){
  .header-taglines{
    display:none;
  }
  .header-taglines-second{
    display: block;
  }
}






