// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar{
  width:100%;
  margin-bottom: 0!important;
}

.main-header-image{
  height: 800px;
}

.main-header-image img{
  opacity: 0.5!important;
}

// .parallax-mirror img{
//   opacity: 0.5!important;
// }

// .blog-image-container.parallax-mirror img{
//   opacity: 1!important;
// }

.header-logo-container img {
    position: absolute;
    width: 21%;
    left: 40%;
    top: 4%;
}

.opening-line-test{
  font-size: 30px;
  line-height: 100%;
}

.homepage-about-us{
  margin:0 auto;
}
.homepage-about-us h1{
  text-align: center;
  word-spacing: 6px;
}

.homepage-about-us h1{
  font-size: 40px;
  font-weight: bold;
  word-spacing: 6px;
}
.homepage-about-us p{
  font-size: 27px;
  text-align: left;
  line-height: 150%;
  font-family: 'Alternate Gothic No1 D';
  margin-top: 5%;
}

.header-taglines {
  position: absolute;
  left: 13%;
  top: 400px;
}
.header-taglines h1{
  font-size: 73px;
  font-weight: bold;
  text-align: center;
  /* word-spacing: 6px; */
  letter-spacing: 2px;
}

.content-test{
  height: 500px;
}

.navbar{
  height: 80px!important;
}
.products-feature{
  margin-left: 13%;
}

.feature-images-links div h2{
  position:absolute;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 2px;
  top: 26%;
  left: 30%; 
}

.feature-images-links div h2 a{
  color:white;
}

.feature-images-links{
  height: 600px;
}
.recipes-feature, .products-feature, .ingredients-feature{
  margin-top:5%;
}
.nav-logo{
  width: 11%;
}

.nav-logo img{
  width: 62%;
  margin-top: 2%;
}

.navbar-default .navbar-nav > li > a{
  font-size: 22px;
  letter-spacing: 0.5px;
}

.blog-image-container{
  height: 447px;
}

.blog-image-container img{
  height: 100%;
  margin-top: 4%;
}

.placeholder-scroll{
  height: 600px;
}

.blog-header h3{
  font-size: 81px;
  word-spacing: 6px;
}

.blog-header {
  position: absolute;
  top: 180px;
  left: 30%;
  color: white;
  font-weight: 100;
  border: 9px solid white;
  padding: 10px 19px 32px 20px;
}

.blog-header-container{
  position:relative;
}

.nav li{
  font-family: 'Alternate Gothic No1 D';
}

.navbar{
  background:white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(191,189,191,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(191,189,191,0.5);
  box-shadow: 0px 1px 5px 0px rgba(191,189,191,0.5);
}

.blog-header h3 a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.blog-header h3 a:hover{
  color:#ABAAAA;
  background:transparent;
}

.about-us-container{
  height:300px;
  background: #DDDADA;
}

.social-container{
  height:300px;
  background: #DDDADA;
}



