// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar{
  width:100%;
  margin-bottom: 0!important;
}

.main-header-image{
  height: 800px;
  opacity: 0.5;
}

.main-header-image img{
  opacity: 0.5!important;
}

.parallax-mirror img{
  opacity: 0.5!important;
}

.header-logo-container img {
    position: absolute;
    width: 21%;
    left: 40%;
    top: 4%;
}

.opening-line-test{
  font-size: 30px;
  line-height: 100%;
}

.homepage-about-us{
  margin:0 auto;
}
.homepage-about-us h1{
  text-align: center;
}

.homepage-about-us h1{
  font-size: 40px;
  font-weight: bold;
}
.homepage-about-us p{
  font-size: 15px;
  text-align: left;
  line-height: 150%;
}

.header-taglines {
  position: absolute;
  left: 23%;
  top: 50%;
}
.header-taglines h1{
  font-size: 29px;
  font-weight: bold;
  text-align: center;
}

.content-test{
  height: 500px;
}

.navbar{
  height: 80px!important;
}
