// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar{
  width:100%;
  margin-bottom: 0!important;
}

.main-header-image{
  height: 1000px;
  // margin-top:100px;

}



.strawb-cursor{
  cursor:url(image_path('strawb-cursor.png')), auto;
}

.star-cursor{
  cursor:url(image_path('star-cursor.png')), auto;
}
.cloud-cursor{
  cursor:url(image_path('cloud-cursor.png')), auto;
}

.mushroom-cursor{
  cursor:url(image_path('mushroom-cursor.png')), auto;
}

.carrot-cursor{
  cursor:url(image_path('carrot-cursor.png')), auto;
}

.apple-cursor{
  cursor:url(image_path('apple-cursor.png')), auto;
}




// .parallax-mirror img{
//   opacity: 0.5!important;
// }

// .blog-image-container.parallax-mirror img{
//   opacity: 1!important;
// }

body{
  background: white!important;
}

.twitter a img{
  border-radius : 20px;
}

.header-logo-container img {
    position: absolute;
    width: 100%;
    top: 114px;
}

.opening-line-test{
  font-size: 30px;
  line-height: 100%;
}

.homepage-about-us{
  margin:0 auto;
}
.homepage-about-us h1{
  text-align: center;
  word-spacing: 6px;
  font-family:  "Helvetica Neue";
}

.homepage-about-us h1{
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: white;
}
.homepage-about-us p{
  font-size: 1.5vw;
  text-align: left;
  line-height: 150%;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-top: 20px;
  color: white;
}

.header-taglines {
  position: absolute;
  // left: 9%;
  top: 60%;
  width:100%;
  text-align: center;
}
.header-taglines h1{
  font-size: 40px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width:100%;
  text-align: center;
  /* word-spacing: 6px; */
  letter-spacing: 2px;
}

.content-test{
  height: 500px;
}

.navbar{
  height: 71px!important;
}

.nav-header-width{
  width: 14%;
}
// .products-feature{
//   margin-left: 13%;
// }
.nav{
  width: 90%;
  float:right;
  margin-top: 20px;
}

.home-logo{
  position: absolute;
  width: 10%;
  margin-top:3px;
}

.nav li a{
  margin-top:-10px;
}
.home-logo img{
  width: 87px;
  padding-bottom: 10%;
}

.dropdown-menu{
  border:none;
}

.shop-dropdown{
  top: 90% !important;
  left: 5% !important;
}

.product-image{
  height: 72%;
  width: 100%;
  overflow: hidden;
}

.recipes-dropdown{
  top: 90% !important;
  left: 5% !important;
}

.product-image img{
  width: 100%;
}
.feature-images-links div h2{
  margin: 0 auto;
  font-size: 15px;
  letter-spacing: 2px;
  background: white;
  padding: 3%;
  text-align: left;
  margin-left: -3%;
}

.navbar-nav > li > .dropdown-menu li{
  height: 30px;
  margin-top:10px;
}

.feature-images-links div h2 a{
  color:black!important;
  color:white;
}

.feature-images-links{
  height: 454px;
  background: white;
  // border-top: 15px solid #AFAFAF;
  // border-bottom: 15px solid #AFAFAF;
}
.recipes-feature, .products-feature, .ingredients-feature, .placeholder-feature{
  margin-top: 60px;
  height: 100%;
}
.nav-logo{
  width: 132px;
}

.nav-logo img{
  width: 75%;
  margin-top: -24%;
}

.navbar-default .navbar-nav > li > a {
    font-size: 19px;
    text-align:center;
}

.blog-image-container{
  height: 447px;
}

.blog-image-container img{
  height: 100%;
  margin-top: 4%;
}
.blog-products-seaparator-container{
  height: 447px;
}

.placeholder-scroll{
  height: 600px;
}

.blog-header h3{
  font-size: 3vw;
  word-spacing: 6px;
}

.blog-header {
  position: absolute;
  top: 158px;
  left: 32%;
  color: white;
  border: 9px solid white;
  padding: 10px 19px 32px 20px;
}

.blog-header-container{
  position:relative;
}

.nav li{
  font-family: 'Helvetica Neue';
  font-weight: 200;
  letter-spacing: 1px;
}

.nav li a{
  font-weight: 100;
}

.navbar{
  background:white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(191,189,191,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(191,189,191,0.5);
  box-shadow: 0px 1px 5px 0px rgba(191,189,191,0.5);
}

.blog-header h3 a{
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-weight: 100;
  letter-spacing: 5px;
}

.blog-header h3 a:hover{
  color:#ABAAAA;
  background:transparent;
}

.about-us-container{
  height:300px;
  // background: #DDDADA;
}

.social-container{
  height:300px;
  background: white;
  
}

.social-image{
  margin-top: 30%;

}

.social-image img{
  margin-left: 28%;
}

.snapwidget-widget{
  width: 100%!important;
}

.blog-entry-mobile-home{
  display:none;
}

@media(max-width: 900px){

  .blog-header{
    left: 11%;
    background-color: rgba(130, 129, 129, 0.61);
  }

  .blog-header h3{
    font-size: 5vw;
    left: 11%;
    margin-top:10%;
  }

  .blog-products-seaparator-container{
    display:none;
  }
  .blog-image-container{
    display:none;
  }
  .blog-entry-mobile-home{
    display:block;
    height: 100%;
    background: url(image_path('new_blog-home-page-new-mobile.jpg')) no-repeat 52%;
    margin-bottom:60px;
  }

  .social-image img{
    margin-left: 0;
    width: 98%;
  }

  .header-taglines h1{
    width: 84%;
    margin: 0 auto;
  }

  .navbar-collapse .nav{
    background:white;
  }
  .navbar-collapse .nav li{
    width: 94%;
  }
  .navbar-default .navbar-nav > li > a{
    text-align:left!important;
  }
}



