.press-container{
	margin-top: 109px;
	height:1000px;
}

.press-header h2, .press-content p{
	text-align:center;
	font-family: "Helvetica Neue";
	font-weight: 100;
}

.press-header h2{
	font-size: 40px;
	margin-bottom: 50px;
}

.press-content p{
	font-size:20px;
	line-height:120%;
}

.press-content{
	margin-bottom: 30px;
	width: 50%;
    margin: 0 auto;
}

.press-social-buttons{
	margin:0 auto;
	text-align: center;
	margin-bottom: 50px;
}

.press-entries-container{
	margin-top:86px;
}

.indiv_press_entry{
	margin-bottom: 34px;
	height: 222px;
}

.indiv_press_entry  h5, .indiv_press_entry{
	text-align:center;
	font-weight: 200;
}



.press-social-buttons-container{
	margin-bottom: 70px;
	margin-top: -55px;
}

@media(max-width: 900px){
	.press-content{
		width: 90%!important;
	}
	.press-social-buttons-container{
		clear:both;
	}
}