.press-container{
	margin-top: 109px;
}

.press-header h2, .press-content p{
	text-align:center;
	font-family: "Helvetica Neue";
	font-weight: 100;
}

.press-header h2{
	font-size: 40px;
	margin-bottom: 50px;
}

.press-content p{
	font-size:20px;
	line-height:120%;
}

.press-content{
	margin-bottom: 30px;
}

.press-social-buttons{
	margin:0 auto;
	text-align: center;
	margin-bottom: 50px;
}