.diy-recipes-container{
	margin-top:110px!important;
	width: 80%;
	margin: 0 auto;
}

.indiv-recipe img{
	width: 80%;
}

.indiv-recipe h3{
	font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Helvetica Neue';
}
.indiv-recipe{
	margin-bottom: 42px;
}
