.diy-recipes-container{
	margin-top: 142px !important;
    width: 80%;
    margin: 0 auto;
}

.indiv-recipe img{
	width: 80%;
}

.indiv-recipe h3{
	font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Helvetica Neue';
}
.indiv-recipe{
	margin-bottom: 42px;
}

.diy-recipes-container h1{
	text-align:center;
	font-weight:100;
	letter-spacing: 2px;
	margin-bottom: 100px;
	font-size:50px;
}

.recipe-show-container{
	margin: 0 auto;
	margin-top:142px;
	padding-bottom: 83px;
    border-bottom: 1px dotted grey;
}

.recipe-show-container h2{
	font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 25px;
    font-size: 40px;
    padding-bottom: 16px;
    border-bottom: 1px solid #C1BBBB;
}

.recipe-image{
	margin-top: 30px;
	margin-bottom: 97px;
	padding-right: 0px!important;

}

.left-column-recipe p{
	font-weight: 100;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 150%;
}

.right-column-recipe p{
	font-weight: 100;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 120%;
}

ol {
	font-family: Helvetica Neue!important;
    margin-left: -20px!important;
}

.recipe-list{
	margin-bottom: 25px;
}

.ingredients-column{
	background: #f8e3f2; 
}

.recipe-image img{
	float: right;
    margin-bottom: 43px;

}

.border-dotted{
	border-bottom: 2px dotted #D4D2D2;
	margin-bottom: 58px;
}

.shop-link{
	float:left;
	font-family: 'Helvetica Neue';
	font-size: 20px;
	font-weight: 200;
	margin-top: 43px;

}

.recipe-sharebox{
	display:block;
	margin-left: 48%;
}

@media(max-width: 900px){
  .indiv-recipe{
    height: 180px;
  }
  .recipe-image{
  	text-align:center;
  }
  .recipe-image img{
  	float:none;
  }
  .recipe-sharebox{
  	margin-left: 0;
  }
  .border-dotted {
  	display:none;
  }
  .ingredients-column{
  	width: 107%;
  	margin-left: -3.5%;
  	padding: 41px;
  }
  .shop-link{
  	margin-bottom: 49px;
    line-height: 120%;
  }
  .recipe-show-container{
  	border-bottom:none;
  }
  .navbar-collapse{
  	max-height: 747px!important;
  }
}
